.container-products-category {
    display: flex;
  flex-wrap: wrap; /* Permite que los elementos se muevan a la siguiente línea si no hay espacio */
  justify-content: center; /* Alinea los elementos al centro */
  margin: 10px;
  padding: 10px
}